/* Space out content a bit */
body {
  padding-top: 30px;
  padding-bottom: 20px;
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;

    color: inherit;
    text-decoration: inherit;
}

a.fill-div:hover, a.fill-div:focus {
    padding: 20px, 20px;
    width:100%;
}

a.noshowLink {
    text-decoration: none;
    color: inherit;
    text-decoration: inherit;
}

a.noshowLink:hover, a.noshowLink:focus {
    text-decoration: none;
    color: inherit;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-bottom: 20px;
}

.col-xs-1:hover, .col-sm-1:hover, .col-md-1:hover, .col-lg-1:hover, .col-xs-2:hover, .col-sm-2:hover, .col-md-2:hover, .col-lg-2:hover, .col-xs-3:hover, .col-sm-3:hover, .col-md-3:hover, .col-lg-3:hover, .col-xs-4:hover, .col-sm-4:hover, .col-md-4:hover, .col-lg-4:hover, .col-xs-5:hover, .col-sm-5:hover, .col-md-5:hover, .col-lg-5:hover, .col-xs-6:hover, .col-sm-6:hover, .col-md-6:hover, .col-lg-6:hover, .col-xs-7:hover, .col-sm-7:hover, .col-md-7:hover, .col-lg-7:hover, .col-xs-8:hover, .col-sm-8:hover, .col-md-8:hover, .col-lg-8:hover, .col-xs-9:hover, .col-sm-9:hover, .col-md-9:hover, .col-lg-9:hover, .col-xs-10:hover, .col-sm-10:hover, .col-md-10:hover, .col-lg-10:hover, .col-xs-11:hover, .col-sm-11:hover, .col-md-11:hover, .col-lg-11:hover, .col-xs-12:hover, .col-sm-12:hover, .col-md-12:hover, .col-lg-12:hover {
    padding-bottom: 20px;
    background: #F3F3F3;
}
