/* Space out content a bit */
body {
  padding-top: 30px;
  padding-bottom: 20px;
}

a.fill-div {
    display: block;
    height: 425px;
    width: 100%;
    text-decoration: none;

    color: inherit;
    text-decoration: inherit;
}

a.noshowLink {
    text-decoration: none;
    color: inherit;
    text-decoration: inherit;
}

a.noshowLink:hover, a.noshowLink:focus {
    text-decoration: none;
    color: inherit;
}

.newsItem {
    padding-bottom: 20px;
}

.newsItem:hover, .newsItem:focus {
    padding-bottom: 20px;
    background: #F3F3F3;
}

