.nav.navbar-nav.navbar-right li a {
    color: #1C9808;
    background-color: white;
}

.navbar-default {
    background-color: white;
    border-color: white;
}

.navbar-default .navbar-nav > li > a {
    color: #777777;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #E7E7E7;
    color: #555555;
}
